@import url('https://fonts.googleapis.com/css?family=Muli:300,400|Unica+One|Dancing+Script');

html {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  color: #444;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fdfdfd;
  min-height: 100vh;
}

header {
  height: 200px;
  background: url(img/pattern.png);
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  background: url(img/pattern.png);
  border-top: 1px solid #f0f0f0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding: 0 20px;
}

footer > img {
  float: right;
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.embl-red {
  color: #e2001a;
}

.container {
  padding: 10px 0 60px;
  text-align: center;
}

.card {
  display: inline-block;
  background-color: white;
  width: 350px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 150ms ease-out;
}

.card:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.card__left {
  display: block;
  width: 35%;
  height: 100%;
  float: left;
}

.card__right {
  display: block;
  float: left;
  width: 65%;
  height: 100%;
  padding: 20px 30px 20px 0;
}

.app-logo {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgb(30, 30, 75);
  text-align: center;
  line-height: 75px;
  color: white;
  text-decoration: none;
  font-family: 'Unica One', sans-serif;
  font-size: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-description {
  color: #444;
}

.app-description__header {
  font-size: 1.2rem;
  display: block;
  margin-bottom: .5rem;
}

.app-description__text {
  display: block;
  text-align: left;
  font-weight: 300;
}

.teaser {
  margin-top: 20px;
  font-family: 'Dancing Script', sans-serif;
  font-size: 2rem;
}
